<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="operacao" >Operação:</ion-label>
    <ion-input class="input"[(ngModel)]="operacao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="resultado">Resultado:</ion-label>
    <ion-input class="input"[(ngModel)]="resultado"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button expand="block" color="medium">MC</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" color="medium">MR</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" color="medium">M+</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" color="medium">M-</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="adicionarMemoria()" expand="block" color="medium">MS</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" color="medium">MR</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" color="medium" class="botao">%</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)=limparOperacao() color="medium">CE</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)=limparMemoria() color="medium">C</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)=limparCaracter() color="medium">'X'</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" color="medium">1/x</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="medium">x²</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="medium">²√x</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" (click)= "adicionarValor('/')"color="medium">÷</ion-button>
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('7')" color="light">7 </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('8')" color="light">8</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('9')" color="light">9</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('*')" color="medium">X</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('4')" color="light">4</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('5')"color="light">5</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('6')"color="light">6</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('-')"color="medium">-</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('1')"color="light">1</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('2')"color="light">2</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('3')"color="light">3</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('+')"color="medium">+</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-button expand="block" color="medium" class="botao">+/-</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('0')"color="light">0</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "adicionarValor('.')"color="medium">,</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)= "calcularOperacao()"color="primary">=</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
</ion-content>