<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora 
      <ion-button>
        C
      </ion-button>      
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item>Valor 1</ion-item>
</ion-list>

<ion-list>
  <ion-item>Valor 2</ion-item> 
</ion-list>
<ion-list>
<ion-button>+</ion-button> 
<ion-button>-</ion-button>
<ion-button>*</ion-button>
<ion-button>/</ion-button>
</ion-list>
<ion-list>
  <ion-button>MAIOR</ion-button>
  <ion-button>MENOR</ion-button>
</ion-list>
<ion-list>
  <ion-item>
    <ion-label>Resultado:</ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-label>Conta:</ion-label>
  </ion-item>
</ion-list>
</ion-content>
